body {
	padding-top: 60px;
}

footer > div {
	text-align: center;
}

.possession {
	padding: 15px;
}

.discounted {
	text-decoration: line-through;
}

.centered {
	text-align: center;
}

.sell {
	background-color: #EBEBE0;
	padding: 15px;
}

.cart-btn {
	width: 100%;
}

aside {
	margin-bottom: 20px;
}

.sell-count {
	margin-top: 5px;
	margin-right: 126px;
}